.explorer-home{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex:1;
}

.home--header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home--header .left{
    display: flex;
}

.home--header .right{
    display: flex;
    align-items: center;
}

.home--body{

}

.home--body .sidebar{

}

.home--body .container{

}