.explorer-home{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    flex:1;
}

.home--header{

}

.home--header .left{

}

.home--header .right{

}

.home--body{

}

.home--body .sidebar{

}

.home--body .container{

}